*.md
*.sdr
*.epub
*.svg
*/**/ebook/
*.tstp
*.log
*.aux
*.toc
*/**/tikzpics/*.pdf
*/**/course.pdf
*/**/chapter.pdf
*/**/work.pdf
*/**/section.pdf
*/**/.lunatikz/dep_cache
*/**/_standalone_main.tex
*/**/_standalone_sub.tex
_minted*/
